@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    background: -webkit-linear-gradient(left, #B0DB9C, #CAE8BD, #DDF6D2, #ECFAE5);
}

:root {
    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}