@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    background: -webkit-linear-gradient(left, #B0DB9C, #CAE8BD, #DDF6D2, #ECFAE5);
}

:root {
    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.input {
    @apply border rounded-xl px-4 py-2 w-full outline-none focus:ring-2 focus:ring-blue-500;
}

.instructions {
    font-size: 0.875rem;
    border-radius: 0.5rem;
    background-color: #1f2937;
    /* gray-800 */
    color: #f9fafb;
    padding: 0.5rem 0.75rem;
    margin-top: 0.25rem;
    line-height: 1.4;
}

.offscreen {
    position: absolute;
    z-index: 50;
    left: -9999px;
}

/* .instructions>svg {
    margin-right: 0.25rem;
} */

/* 
.invalid {
    background-color: rgb(241, 221, 221);
    border-color: red;

}

.valid-icon {
    color: #28a745;
}

.invalid-icon {
    color: #dc3545;
} */

/* .valid {
    @apply border border-green-500 bg-green-50;
}

.invalid {
    @apply border border-red-500 bg-red-50;
} */

/* .input {
    @apply border rounded-xl px-4 py-2 w-full outline-none focus:ring-2 focus:ring-blue-500 transition;
} */

/* .input-icon {
    transition: all 0.2s ease;
} */
/* .input-wrapper {
    position: relative;
    width: 100%;
}

.input-icon {
    position: absolute;
    z-index: 50;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
} */